<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e" >

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="black">
    <color rgba="0.0 0.0 0.0  1.0"/>
  </material>
  
  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- ur5e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5e_robot prefix="" joint_limited="false"/>

  <link name="world" />

  <!-- <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 0.0" />
  </joint> -->

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0.0 0.0 0.71" rpy="0.0 0 0" />
  </joint>
  <link name="arm_0_jizuo">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ur_e_description/meshes/dizuo.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ur_e_description/meshes/dizuo.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="arm_0_jizuo_to_world" type="fixed">
    <parent link="base_link"/>
    <child link="arm_0_jizuo"/>
    <origin rpy="0 0 0.7954" xyz="0 0 0"/>
  </joint>

</robot>
